.button2{
    background-color: white; 
    color: black;
    /* font-weight: bold; */
    border: 2px solid #008CBA;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 140px;
    margin:center;
    height: 5px;
    padding: 20px;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
   
}
table, th, td , tr{
    border: 1px solid black;
    border-collapse: collapse;
  }